<mat-toolbar fxLayout="column" fxLayoutAlign="center">
  <mat-toolbar-row class="toolbar" fxLayoutAlign="space-around" fxHide.xs>
    <span>Nutrition & Wellness</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="align" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxHide.xs>
    <a id="fontSize" *ngFor="let m of menuService.getList('header')" [style.color]="menuService.selectedMenu.name === m.name ? 'pink' : 'grey'"
      (click)="selectMenu(m, $event)" routerLink="{{m.path}}">
      {{m.name}}
  </a>
  </mat-toolbar-row>

  <mat-toolbar-row>

 
  <div fxHide.gt-xs>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="col-md-1">
      <mat-icon fl>more_vert</mat-icon>
    </button>
    <span id="titleResponsive" class="col-md-10">Nutrition & Wellness</span>
    <mat-menu #menu="matMenu">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">
        <li>
          <a mat-list-item routerLink="/connexion">Connexion </a>
          <a mat-list-item routerLink="/repas">Repas </a>
          <a mat-list-item routerLink="/aliments">Aliments </a>
          <a mat-list-item routerLink="/recettes">Recettes </a>
          <a mat-list-item routerLink="/historique">Historique </a>
          <a mat-list-item routerLink="/profil">Profil </a>
        </li>
      </ul>
    </mat-menu>
  </div>
</mat-toolbar-row>
</mat-toolbar>
&nbsp; &nbsp;
