<p>
    Page Aliments under construction !!
</p>

<div class="center-div">
<form [formGroup]="foodForm">
    <mat-form-field>
      <input matInput type="text" matInput placeholder="Aliment..." formControlName="foodsGroup" required [matAutocomplete]="autoGroup"/>
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of foodsGroupOptions | async" [label]="group.categorie">
            <mat-option *ngFor="let food of group.foods" [value]="food">
              {{ food }}
            </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field> 
  </form>  
</div>