
<div id="typeRepas">

  <mat-form-field style="font-size: 15px;">
    <mat-select placeholder="Saisir le type de repas">
      <mat-option *ngFor="let typem of typeMeal" [value]="typem.value">
        {{ typem.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

&nbsp;
<div>
  <button mat-icon-button class="button">
    <mat-icon style="font-size:25px; color: #82C46C" aria-label="Add" (click)="addFoodRow()">playlist_add</mat-icon> Ajouter un aliment
  </button>
  &nbsp;

  <app-line-food *ngFor="let foodRow of foodsRow ; let i = index" [index]="i" [foodRow]="foodRow" (deleted)="deleteFoodRow($event)"></app-line-food>


<div class="container-fluid" class="marginLeft" >

    <div class="row">
            <div class="col-md-5">
        <p></p>
      </div>
      <div class="col-md-1">
        <p></p>
      </div>
         <div class="col-md-2">
        <p class="CG">CG totale du repas :</p>
      </div>
      <div class="col-md-1">
        <p  id="cgLeft">{{ getSum() }}</p>
      </div>
      <div class="col-md-1" >
        <p  class="delete"></p>
      </div>
      <div class="col-md-2">
        </div>
    </div>
  </div>

&nbsp; &nbsp;
