#typeRepas {
  /* display: flex; */
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-left:20px;
}

.button {
  margin-left: 20px;
}

p {
  text-align: center;
  background-color: white;
  height: 35px;
  width: 100%;
  text-align: center;
}

.summCG {
  text-align: right;
  width: 5%;
}

.CG {
  text-align: right;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #01DF74;
}
#cgLeft{
  text-align: center; 
  color: #01DF74;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.marginLeft{
  margin-left:20px;
  text-align-last: center;
}


/* .sum {
  margin-left: 50px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #82C46C;
  font-weight: bold;
} */

/* .form-group {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px; 
  font-weight: bold;
  margin-left: 20px;
}

.form-control {
  width: 70%;
  margin-left: 20px;
} */

.cellulecg {
  background-color: white;
}

.example-full-width {
  width: 100%;
}

container-fluid {
  background: rgb(248, 64, 230);
}
.delete {
  font-size: 25px;
  color: #FF5E4D;
  text-align: left;
  outline-style:none;
}
